body {
    height: 100vh;
    background-color: #d9e4f5;
background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}
.btn {
  color: black;
  height: 70px;
  width: 90%;
  border-radius: 30px;
  margin: 1%;
  text-align: center;
  padding-top: 0.4rem;
  background: #98c1d9;
  font-weight: bold;
  font-size: 26px;
  
}
#value{
    border: 4px solid black;
}
.calculator-head {
  text-align: center;
  padding: 2%;
}
.c1 {
  border: 2px solid black;
  padding: 30px;
  width: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  background-color: #293241;
}
.btn:hover {
  background: black;
  color: #faf3dd;
}
/* #faf3dd */